<h2> <%= livre.titre %> </h2>
<p><%= livre.description %>  <i><%= livre.auteur %></i> <%= livre.codebarre %>  </p>
<p>Genres :
  <%= livre.genres.map(&:libelle).join(',') %>

</p>
  <a href="<%= livre_path(livre.id) %>" class="btn btn-primary">Consulter</a>
  <a href="<%= edit_livre_path(livre.id) %>" class="btn btn-primary">Editer</a>
  <a href="<%= livre_path(livre.id) %>" class="btn btn-danger" data-confirm="voulez vous vraiment supprimer ce livre?" data-method="DELETE">Supprimer</a>
